

img{
	   padding: 15px;
}

h1{
	  font-family: 'Indie Flower', cursive;
	  text-align: center;
}


.main_content{
	height:70%;
	text-align: center;
	background-color:rgb(256,256,256);
	margin-top: 0%;
	margin-right:10%;
	margin-left:10%;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
	line-height: 20px;
}

#div_1{
	width: 100%;
	height:auto;
	animation: rotateit 5s infinite;
}

@keyframes rotateit{

0%{
	transform:rotate(-20deg);
}
50%{
	transform:rotate(20deg);
}
100%{
	transform:rotate(-20deg);
}
}

#div_2{
	width: 100%
	height: auto;
	animation: moveit 5s infinite;
}

@keyframes moveit{

0%{
	transform:rotate(-20deg);
}
50%{
	transform:rotate(20deg);
}
100%{
	transform:rotate(-20deg);
}
}

/* ref source link http://www.dynamicdrive.com/style/csslibrary/item/css_animated_underline_menu/ */

ul.menu{
  list-style: none;
  margin-top: 40px;
  padding:0;
  text-align:center; /* enter "left", "right", or "center" to orient the menu accordingly */
  font-family: 'Julius Sans One', sans-serif;
}

ul.menu li{
  display: inline;
  margin-right:25px; /* spacing between each menu item */
}

ul.menu li a{
  position: relative;
	display: inline-block;
  color: black;
  padding: 2px 3px;
  padding-bottom: 8px; /*spacing between each menu item and underline beneath it */
  text-decoration: none;
  margin-bottom: 20px; /* spacing between A elements, relevant when menu becomes multi-lined */
  letter-spacing: .1em;
}

ul.menu li a:after{
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #FFC0CB;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

ul.menu li a:hover:after{
  width: 100%;
  opacity: 1;
}

/* ref source http://www.dynamicdrive.com/style/csslibrary/item/css3_hover_image_gallery/ */
.hovergallery img{
-webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform:scale(0.8); /*Mozilla scale version*/
-o-transform:scale(0.8); /*Opera scale version*/
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
opacity: 0.7; /*initial opacity of images*/
margin-left: 0px;
margin-top: 0px;
margin-bottom:: 0px;
margin-right:0px;
width:300px;
border-radius: 50%;
}

.hovergallery img:hover{
-webkit-transform:scale(1.2); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.2); /*Mozilla scale version*/
-o-transform:scale(1.2); /*Opera scale version*/
opacity: 1;
border-radius: 0%;
}

/*footer{
	height:20%;
	margin-bottom: 0px;
	background-color: pink;
}
*/
